@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);

  --font-tight: var(--font-inter-tight);
}

:root {
  --background: #111111;
  --foreground: #f5f5f5;
  --radius-5xl: 3rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tight), sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#333] rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#444];
}
